@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');


.nav-bar12345{
    background-color: black; 
    color: white;
    text-decoration:none;
    height: 190px;
    padding: 1px;     
   
}





body{
    font-family: 'Do Hyeon', sans-serif;

}

div{
    border: 1px solid black;
    height: 300px;
    width:  300px;
    text-align: center;
    margin: 2%;
    padding: 2%;
    display: inline-block;
}

img{
    height: 70%;
}

div:hover {
    background-color:lightgreen
}